.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: $grid-gutter * -1px;
  margin-right: $grid-gutter * -1px;
}

[class*="col-"] {
  flex: 1 1 100%;
  padding-left: $grid-gutter * 1px;
  padding-right: $grid-gutter * 1px;
  box-sizing: border-box;
}

@for $i from 1 through $grid-count {
  .col-#{$i} {
    flex-basis: percentage($i / $grid-count);
  }
}

@media (min-width: $media-mobile-up) {

  @for $i from 1 through $grid-count {
    .col-mobile-up-#{$i} {
      flex-basis: percentage($i / $grid-count);
    }
  }

}

@media (max-width: $media-mobile-down) {

  @for $i from 1 through $grid-count {
    .col-mobile-down-#{$i} {
      flex-basis: percentage($i / $grid-count);
    }
  }

}

@media (min-width: $media-tablet-up) {

  @for $i from 1 through $grid-count {
    .col-tablet-up-#{$i} {
      flex-basis: percentage($i / $grid-count);
    }
  }

}

@media (max-width: $media-tablet-down) {

  @for $i from 1 through $grid-count {
    .col-tablet-down-#{$i} {
      flex-basis: percentage($i / $grid-count);
    }
  }

}

@media (min-width: $media-laptop-up) {

  @for $i from 1 through $grid-count {
    .col-laptop-up-#{$i} {
      flex-basis: percentage($i / $grid-count);
    }
  }

}

@media (max-width: $media-laptop-down) {

  @for $i from 1 through $grid-count {
    .col-laptop-down-#{$i} {
      flex-basis: percentage($i / $grid-count);
    }
  }

}

@media (min-width: $media-laptop-l-up) {
  
  @for $i from 1 through $grid-count {
    .col-laptop-l-up-#{$i} {
      flex-basis: percentage($i / $grid-count);
    }
  }

}

@media (max-width: $media-laptop-l-down) {
  
  @for $i from 1 through $grid-count {
    .col-laptop-l-down-#{$i} {
      flex-basis: percentage($i / $grid-count);
    }
  }

}
