.site-wrapper {
  flex-grow: 1;
}

.main {
  position: relative;
  padding-top: 15px;
  padding-bottom: 50px;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    background-color: #000;
    transition: opacity $duration, visibility 0s $duration;
  }

  &--overlay {
    &::after {
      opacity: 0.5;
      visibility: visible;
      transition: opacity $duration $duration;
    }
  }
}

.main__container {
  @include container();
  display: flex;
  flex-direction: column;


  @media #{$tablet-up} {
    flex-direction: row;
  }
}

.sidebar-area {
  margin-bottom: ($grid-gutter * 4px);

  @media #{$tablet-up} {
    flex-shrink: 0;
    width: $column-desktop;
    margin-right: $gutter-desktop;
    margin-bottom: 0;
  }
}

.content-area {
  order: 1;

  @media #{$tablet-up} {
    flex-grow: 1;
    width: calc(100% - #{$column-desktop + $gutter-desktop});
  }
}

.content {

}

.page-blocks {

}

.page-block {
  padding: ($grid-gutter * 2px);
  background-color: #fff;
}
