.site-wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  padding-top: 15px;
  position: relative;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: opacity $transition-duration, visibility 0s $transition-duration;
  }

  &--overlay {
    &::after {
      opacity: 0.5;
      visibility: visible;
      transition: opacity $transition-duration $transition-duration;
    }
  }
}

.main__container {
  @include container();

  display: flex;
}

.sidebar-area {
  width: $column-desktop;
  flex-shrink: 0;
  margin-right: $gutter-desktop;
}

.content-area {
  width: calc(100% - #{$column-desktop + $gutter-desktop});
  flex-grow: 1;
}

.content {

}

.page-blocks {

}

.page-block {
  background-color: #fff;
  padding: ($grid-gutter * 2px);
}
