@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin container() {
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $media-mobile-up) {

  }

  @media (min-width: $media-tablet-up) {
    // max-width: 720px;
  }

  @media (min-width: $media-laptop-up) {
    max-width: 1200px;
  }
}

@mixin createFlexColumn($column: 12) {
  flex-basis: percentage($column / $grid-count);
  max-width: percentage($column / $grid-count);
}

@mixin dotted-link($size: 2px) {
  border-bottom: $size solid transparent;
  background-origin: border-box;
  background-image: linear-gradient(to right, currentColor $size, transparent 0);
  background-position: 0 100%;
  background-size: $size * 2 $size;
  background-repeat: repeat-x;
}

@mixin clear-list() {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin border-rounded($value: 2px) {
  border-radius: $value;
}

/// Подстраивание изображений (и не только) под заданные пропорции
@mixin fitObject($target-width: 1, $target-height: 1, $fit: cover) {
  display: block;
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: percentage($target-height / $target-width);

  img {
    position: absolute;
    width: 100%;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
  }

  @supports (object-fit: $fit) {
    img {
      object-fit: $fit;
      height: 100%;
      transform: none;
      top: 0;
      left: 0;
    }
  }
}
