// Colors
$base-color: #232020;
$primary-color: #f16821;
// $secondary-color: #f16821;
$accent-color: #3d4954;

$success-color: #71dd5c;
$info-color: #cef;
$warning-color: yellow;
$danger-color: red;

$light-color: #e4e4e4;
$muted-color: #7a7a7a;
$link-color: #57c;


// Fonts
$base-font-size: 15px;
$primary-font: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$secondary-font: inherit;


// Grid
$grid-count: 12;
$grid-gutter: 10;

// Media querys
$media-mobile-up: 480px;
$media-mobile-down: $media-mobile-up - 1;

$media-tablet-up: 768px;
$media-tablet-down: $media-tablet-up - 1;

$media-laptop-up: 1024px;
$media-laptop-down: $media-laptop-up - 1;

$media-laptop-l-up: 1280px;
$media-laptop-l-down: $media-laptop-l-up - 1;
