// Colors
$primary-color: #f16821;
$secondary-color: #2d3943;
$accent-color: #3d4954;
$base-color: $secondary-color;

$color-grey-172: #acacac;
$color-grey-224: #e0e0e0;
$color-grey-235: #ebebeb;

$success-color: #71dd5c;
$info-color: #b9dfff;
$warning-color: #ffeb3b;
$danger-color: #fd0d4d;

$light-color: #e4e4e4;
$muted-color: #949494;

$link-color: #57c;
$link-color--hover: #55c;

$field-border-color: #acacac;
$field-border-color--hover: $base-color;

$duration: 0.2s;

$border-radius: 2px;


// Fonts
$font-size: 15px;
$font-size--small: 12px;
$font-size--large: 18px;
$primary-font: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$secondary-font: inherit;


// Grid
$grid-count: 12;
$grid-gutter: 10;

// Media querys
$media-mobile-up: 480px;
$media-mobile-down: $media-mobile-up - 1;

$media-tablet-up: 768px;
$media-tablet-down: $media-tablet-up - 1;

$media-laptop-up: 1280px;
$media-laptop-down: $media-laptop-up - 1;

// $column-mobile-size: 130px;
$column-tablet-size: 180;
$column-desktop: 280px;
$gutter-desktop: 20px;

// Breakpoints
$mobile-up: "(min-width: 480px)";
$mobile-only: "(max-width: 767px)";
$tablet-up: "(min-width: 768px)";
$tablet-only: "(max-width: 1279px)";
$desktop-up: "(min-width: 1280px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
