@import "normalize";

@import "variables";
@import "functions";
@import "mixins";

// Global
@import "global/fonts";
@import "global/response-utillity";
@import "global/grid";
@import "global/base";

// Vendors
@import "vendors/slick";
@import "vendors/magnific-popup";

// Blocks
@import "blocks/icon";
@import "blocks/button";
@import "blocks/form";
@import "blocks/table";
@import "blocks/popup";
@import "blocks/custom-ol";
@import "blocks/custom-ul";
@import "blocks/topbar";
@import "blocks/user-nav";
@import "blocks/top-nav";
@import "blocks/site-header";
@import "blocks/searchbar";
@import "blocks/site-nav";
@import "blocks/hamburger-menu";
@import "blocks/index-slider";
@import "blocks/page";
@import "blocks/archive-events";
@import "blocks/site-footer";
@import "blocks/socials";
