@mixin buttonColor($bgColor: $buttonColorDefault, $textColor: #fff) {

  color: $textColor;
  background-color: $bgColor;

  &:hover,
  &:focus {
    color: $textColor;
    background-color: mix(#fff, $bgColor, 7%);
    outline: none;
  }

  &:active {
    color: $textColor;
    background-color: mix(#000, $bgColor, 7%);
  }
}

@mixin createButton() {
  display: inline-flex;
  padding: 10px 20px;
  font-weight: normal;
  font-size: 15px;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  line-height: normal;
  outline: none;
  border: 2px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.button {
  @include createButton();
  @include buttonColor($accent-color, #fff);
}

.button--dark {
  @include buttonColor(#2c2929);
}
