@mixin createButton() {
  display: inline-flex;
  min-width: 200px;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  font-weight: normal;
  font-size: 15px;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  line-height: normal;
  outline: none;
  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  transition: background-color $transition-duration, color $transition-duration;
}

// .button {
//   @include createButton();

//   color: #fff;

//   &:hover,
//   &:focus {
//     color: #fff;
//     background-color: mix(#fff, #ef6, 7%);
//     outline: none;
//   }

//   &:active {
//     color: #fff;
//     background-color: mix(#000, #ef6, 7%);
//   }
// }

.button-dark {
  @include createButton();

  color: #fff;
  background-color: $secondary-color;

  &:hover,
  &:focus {
    color: #fff;
    background-color: mix(#fff, $secondary-color, 7%);
    outline: none;
  }

  &:active {
    color: #fff;
    background-color: mix(#000, $secondary-color, 7%);
  }
}

.button-orange {
  @include createButton();

  color: #fff;
  background-color: $primary-color;

  &:hover,
  &:focus {
    color: #fff;
    background-color: mix(#fff, $primary-color, 7%);
    outline: none;
  }

  &:active {
    color: #fff;
    background-color: mix(#000, $primary-color, 7%);
  }
}
