.cart {

}

.cart__items {
  margin-bottom: 0;

  th,
  td {
    padding: ($grid-gutter * 1px);

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  thead {
    th {
      @media (max-width: 568px) {
        position: absolute;

        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
    }
  }

  @media (max-width: 568px) {
    tbody {

      tr {
        border-top: 4px solid $color-grey-224;
        border-bottom: 4px solid $color-grey-224;
      }

      td {
        display: flex;
        align-items: center;

        &::before {
          content: attr(data-th)': ';
          display: block;
          width: 82px;
          flex-shrink: 0;
          font-weight: 600;
          font-size: $font-size--small;
          font-family: 'Open Sans Condensed', sans-serif;
          text-align: left;
        }
      }
    }

  }

}

.cart__item-label-image {

  @media (max-width: 568px) {
    display: none !important;
  }
}

.cart__item-image {
  min-width: 75px;
  max-width: 100px;

  @media (max-width: 568px) {
    display: none !important;
  }
}

.cart__item-title {
  max-width: 320px;
  font-weight: 600;
  font-family: 'Open Sans Condensed', sans-serif;

  @media (max-width: 568px) {
    max-width: none;
  }
}

.cart__item-price {
  white-space: nowrap;
  text-align: right;
}

.cart__item-summary-price {
  font-weight: 600;
  white-space: nowrap;
  text-align: right;
}

.cart__item-counter {
  text-align: center;
}

.cart__item-delete {

}

.cart__item-delete-button {
  @include createButton();

  min-width: 0;
  padding: 1px 5px;
  line-height: 1;
  color: $light-color;
  background-color: transparent;
}

.cart__items tbody tr:hover .cart__item-delete-button {
  color: $muted-color;

  &:hover,
  &:focus {
    color: $base-color;
  }
}

.cart__item-delete-button-icon {
  font-size: 22px;
}

.cart__item-delete-button-text {
  margin-left: 0.5em;

  @media #{$mobile-up} {
    display: none;
  }
}

.cart__discount-holder {
  @media (max-width: 568px) {
    display: none;
  }
}

.cart__discount {
  display: flex;
  display: none;
  align-items: center;
}

.cart__discount-image {
  margin-right: ($grid-gutter * 1px);
}

.cart__discount-input {
  margin-right: ($grid-gutter * 1px);
}

.cart__discount-button {
  min-width: auto;
}

.cart__totals {

}

.cart__totals-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: ($grid-gutter * 1px);

  &:last-child {
    margin-bottom: 0;
  }

  &--primary {

  }
}

.cart__totals-field {

}

.cart__totals-value {
  font-weight: 700;
  white-space: nowrap;
}

.cart__totals-item--primary .cart__totals-value {
  font-size: 1.15em;
  color: $primary-color;
}

.cart-form {

}

.cart-form__submit-wrapper {
  margin-top: ($grid-gutter * 4px);
  text-align: right;
}

.cart-form__submit {

}
