.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards__item {
  box-sizing: border-box;

  border: 1px solid #f7f7f7;
  margin-bottom: 10px;

  .cards--mode-list & {

  }

  @media #{$mobile-up} {
    width: 50%;
    margin-bottom: 0;
  }

  @media (min-width: 667px) {
    width: calc(100% / 3);
  }

  @media #{$tablet-up} {
    width: 50%;
    margin-bottom: 0;
  }

  @media #{$laptop-up} {
    width: calc(100% / 3);

    .cards--mode-list & {
      width: 100%;
      height: auto;
    }
  }

  @media #{$desktop-up} {
    width: 25%;
  }
}
