.catalog-filter {
  background-color: #fff;
}

.catalog-filter__item {
  // border-bottom: 1px solid $color-grey-235;

  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
}

.catalog-filter__caption {
  margin: 0;
  font-weight: 600;
  font-size: 16px;

  a {
    position: relative;
    display: block;
    padding: 12px 15px;
    padding-right: 35px;
    color: $base-color;
    border-top: none;
    border: 1px solid transparent;
    border-bottom-color: $color-grey-235;
    transition: 0.25s;

    &:hover {
      background-color: #f1f1f1;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 15px;
      width: 10px;
      height: 10px;
      margin: auto;
      border: 1px solid;
      box-sizing: border-box;
      border-top: none;
      border-left: none;
      transform: rotate(45deg);
      transition: 0.25s;
    }
  }
}

.catalog-filter__caption.open {
  a {
    border-color: $color-grey-235;
    border-top-color: transparent;
    border-bottom-color: transparent;
    &::before {
      transform: rotate(45deg) scale(-1);
    }
  }
}

.catalog-filter__inputs {
  padding: 8px 15px;
  padding-bottom: 20px;
  border: 1px solid transparent;
  border-top: none;
}

.catalog-filter__checkbox {
  &:last-child {
    margin-bottom: 0;
  }
}

.catalog-filter__radio {
  &:last-child {
    margin-bottom: 0;
  }
}

.catalog-filter__caption.open + .catalog-filter__inputs {
  border-color: $color-grey-235;
}
