.filter-interval {

}

.filter-interval__group-inputs {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.filter-interval__group-space {
  margin-left: 10px;
  margin-right: 10px;
}

.filter-interval__input {
  min-width: 0;
}

.filter-interval__slider {

}
