.form-item {
  margin-bottom: 15px;
  display: block;

  &:last-child {
    margin-bottom: 0;
  }

  @media #{$tablet-up} {
    &.row {
      display: flex;
    }
  }

}

.form-label {
  display: inline-block;
  padding-bottom: 5px;
  vertical-align: middle;
  font-size: 0.95rem;
  cursor: pointer;
}

.form-item.row .form-label {
  @media #{$tablet-up} {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
  }
}

.form-label--required::after {
  content: "*";
  display: inline-block;
  margin-left: 0.2em;
  color: #f44336;
}

.form-control {
  width: 100%;
  padding: 10px 12px;
  outline: none;
  font-family: $primary-font;
  font-size: 15px;
  line-height: normal;
  background-color: #fff;
  border: 1px solid $field-border-color;
  border-radius: $border-radius;
  box-sizing: border-box;
  transition: 0.25s;

  &:hover {
    background: #f9f9f9;
  }

  &:focus {
    border-color: $field-border-color--hover;
    background: #fff;
  }

  &::placeholder {
    color: $muted-color;
    opacity: 0.75;
  }
}

textarea.form-control {
  max-height: 200px;
  resize: vertical;
}

.form-submit-wrapper {
  margin-top: 1.5rem;
  text-align: center;
}

.form-note {
  margin-top: 15px;
  font-size: 14px;

  p {
    margin-bottom: 0;
  }
}
