/**
 *  Markup
 * <a href="#" class="hamburger-menu" id="trigger-mobile-menu">
      <span class="hamburger-menu__item hamburger-menu__item--top"></span>
      <span class="hamburger-menu__item hamburger-menu__item--middle"></span>
      <span class="hamburger-menu__item hamburger-menu__item--bottom"></span>
    </a>
 *
 */


.mobile-menu {
  text-decoration: none;
  color: currentColor;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
}

.mobile-menu__icon {

}

.mobile-menu__text {
  vertical-align: middle;
}

.hamburger-menu {
  display: inline-block;
  position: relative;

  border: none;
  background: #fff;
  // padding: 0.8em;
  width: 40px;
  height: 34px;
  // padding: 5px;
  vertical-align: middle;
  outline: none;
  color: $base-color;

  appearance: none;
  transition: color 0.2s;
  border-radius: 2px;

  &__item {
    position: absolute;
    left: 8px;
    // width: 100%;
    right: 8px;
    height: 2px;
    background-color: currentColor;
    transform-origin: 0 50%;
    transition: transform 0.2s;

    &--top {
      top: 8px;
      // Context
      .mm-opening & {
        transform: rotateZ(45deg) translateY(-2px) translateX(2px);
      }
    }

    &--middle {
      top: 50%;
      margin-top: -1px;
      // Context
      .mm-opening & {
        transform: scale(0);
      }
    }

    &--bottom {
      bottom: 8px;
      // Context
      .mm-opening & {
        transform: rotateZ(-45deg) translateY(2px) translateX(2px);
      }
    }
  }

  &:hover,
  &:focus {
    outline: none;
    color: #444;
  }

}

@media (min-width: $media-tablet-up) {
  .mobile-menu {
    display: none;
  }
}
