.history-orders-table {
  margin: 0;

  th,
  td {
    padding: 10px 5px;
  }
}

.history-orders-table__serial {
  font-weight: 600;
}

.history-orders-table__status {

}

.history-orders-table__date {

}

.history-orders-table__cost {
  font-weight: 600;
  font-size: 1.15em;
  // font-family: 'Open Sans Condensed', sans-serif;
  text-align: right;
}

.history-orders-table__more {
  text-align: center;

  .button {
    min-width: auto;
  }
}
