.main-nav {
  position: relative;
  z-index: 2;
}

.main-nav__toggle {
  @include createButton();
}

.main-nav__toggle-icon {
  background-color: #fff;
  margin-right: 10px;
}

.main-nav__list {
  @include clear-list();
}

.main-nav__item {
  font-size: 13px;
  position: relative;
}

.main-nav__link {
  display: flex;
  align-items: center;
  padding: 6px;
  color: $base-color;
  text-decoration: none;
  border-bottom: 1px solid $color-grey-235;
}

.main-nav__icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-color: #e55;
}


.main-nav__drop {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-10px) scale(0.9);
  transform-origin: 0 50%;
  transition: opacity 0.25s, transform 0.25s, visibility 0s 0.25s;
}

.main-nav__item:hover .main-nav__drop {
  opacity: 1;
  visibility: visible;
  transform: none;
  transition: opacity 0.25s, transform 0.25s;
}
