.main-nav {
  position: relative;
  z-index: 2;
  padding-top: 15px;
  text-align: center;

  &--opened {
    background-color: #fff;
  }
}

.main-nav__toggle {
  @include createButton();

  margin-bottom: 15px;

  &::before {
    content: "";
    width: 18px;
    height: 2px;
    margin-right: 0.5em;
    border-radius: $border-radius;
    background-color: currentColor;
    box-shadow: 0 6px 0 currentColor,
                0 -6px 0 currentColor;
  }

  &.is-active {
    color: #fff;
    background-color: mix(#000, $primary-color, 7%);
  }
}

.main-nav__list {
  @include clear-list();

  position: absolute;
  transform-origin: 50% 0;
  transform: scale(0.85);
  text-align: left;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  transition: opacity $duration, transform $duration, visibility 0s $duration;
}

.main-nav--opened .main-nav__list {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  transition: opacity $duration, transform $duration, visibility $duration;
}

.main-nav__item {
  position: relative;
}

.main-nav__link {
  display: flex;
  align-items: center;
  padding: 6px;
  padding-right: 30px;
  font-size: 12px;
  color: $base-color;
  color: $muted-color;
  text-decoration: none;
  border-bottom: 1px solid $color-grey-235;
  transition: $duration;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    transform: rotate(45deg);
    width: 7px;
    height: 7px;
    margin: auto;
    border-top: 1px solid;
    border-right: 1px solid;
    transition: $duration;
  }
}

.main-nav__item:hover .main-nav__link {
  color: #111;
  background-color: #fff;

  &::after {
    transform: rotate(45deg) scale(1);
    border-color: #111;
  }
}

.main-nav__icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  color: $primary-color;
}


.main-nav__drop {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-10px) scale(0.9);
  transform-origin: 0 0;
  transition: opacity $duration, transform $duration, visibility 0s $duration;
}

.main-nav__item:hover .main-nav__drop {
  opacity: 1;
  visibility: visible;
  transform: none;
  transition: opacity 0.25s, transform 0.25s;
}
