@media #{$tablet-up} {
  .main-subnav {
    @include clear-list();
    background-color: #fff;
    border-radius: 0 3px 3px 0;
  }

  .main-subnav__item {
    white-space: nowrap;
  }

  .main-subnav__link {
    display: block;
    padding: 5px 10px;
    font-size: 13px;
    color: $muted-color;
    transition: $duration;
  }

  .main-subnav__item:hover .main-subnav__link {
    color: #111;
    // background-color: #fff;
  }
}

