.product-card {
  position: relative;

  &:hover {
    z-index: 1;
  }
}

.product-card__inner {
  padding: 15px;
  background-color: #fff;
  // border: 1px solid #e7e7e7;
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba(#000, 0.1);
  transition: $duration;

  @media #{$laptop-up} {
    .cards--mode-list & {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }
  }
}

.product-card:hover .product-card__inner {
  box-shadow: 0 3px 6px rgba(#000, 0.3);
}

.product-card__image-frame {
  position: relative;
  margin-bottom: 15px;
  min-width: 150px;

  @media #{$laptop-up} {
    .cards--mode-list & {
      margin-bottom: 0;
      margin-right: ($grid-gutter * 2px);
    }
  }
}

.product-card__image-holder {
  @include fitObject(260, 170, contain);

  display: block;
}

.product-card__image {
}

.product-card__sticker {

}

.product-card__info {
  margin-bottom: 15px;

  @media #{$laptop-up} {
    .cards--mode-list & {
      margin-bottom: 0;
      margin-right: 30px;
      flex-grow: 1;
    }
  }
}

.product-card__title {
  min-height: (18px * 2);
  max-height: (18px * 2);
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  overflow: hidden;
  transition: $duration;

  a {
    display: block;
    color: currentColor;
    text-decoration: none;
  }

  @media #{$laptop-up} {
    .cards--mode-list & {
      max-height: none;
    }
  }
}

.product-card:hover .product-card__title {
  max-height: (18px * 6);

  @media #{$laptop-up} {
    .cards--mode-list & {
      max-height: none;
    }
  }
}

.product-card__status {
  font-size: 14px;
  line-height: 16px;
}

.product-card__footer {
  text-align: center;

  @media #{$laptop-up} {
    .cards--mode-list & {
      display: flex;
      align-items: center;
      flex-grow: 0;
      flex-direction: column;
    }
  }
}

.product-card__buying {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  text-align: left;

  @media #{$laptop-up} {
    .cards--mode-list & {
      margin-bottom: 15px;
    }
  }
}

.product-card__price {
  flex-grow: 1;
  margin-right: 5px;
  white-space: nowrap;
  font-weight: 600;
  font-family: 'Open Sans Condensed', sans-serif;

  &--old {
    position: absolute;
    bottom: 100%;
    margin-bottom: -0.5em;
    font-weight: normal;
  }

  @media #{$tablet-up} {
    .cards--mode-list & {
      margin-right: ($grid-gutter * 1px);
    }
  }
}

.product-card__price-value {
  font-size: 21px;
  color: $primary-color;

  &::after {
    content: "\E007";
    font-size: 0.66em;
    font-weight: normal;
    font-family: "rouble";
    color: $color-grey-172;
  }

  @media #{$mobile-up} {
    font-size: 18px;
  }

  @media #{$tablet-up} {
    font-size: 20px;
  }
}

.product-card__price--old .product-card__price-value {
  position: relative;
  font-size: 14px;
  color: $color-grey-172;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    border-top: 1px solid;
    transform: rotate(-10deg);
  }
}

.product-card__price-currency {
  font-size: 0;
}

.product-card__counter {
}

.product-card__button {
  width: 100%;
  max-width: 100%;
  min-width: auto;
  padding-left: 5px;
  padding-right: 5px;

  @media #{$laptop-up} {
    .cards--mode-list & {
      padding: 10px;
    }
  }
}

.product-card__button-icon {
  display: none;

  @media #{$laptop-up} {
    .cards--mode-list & {
      display: inline-block;
      width: 22px;
      height: 22px;
      margin-right: 0.5em;
      vertical-align: middle;
      fill: currentColor;
    }
  }
}
