.product-card {
  position: relative;
  height: 390px;

  &:hover {
    z-index: 1;
  }

  .cards--layout-2 & {
    height: 349px;
  }

  .cards--stuck-image & {
    height: 360px;
  }
}

.product-card__inner {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  transition: $duration;

  .cards--stuck-image & {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 15px;
  }
}

.product-card:hover .product-card__inner {
  box-shadow: 0 3px 6px rgba(#000, 0.3);
}

.product-card__image-frame {
  position: relative;
  margin-bottom: 15px;
}

.product-card__image-holder {
  @include fitObject(260, 170, contain);

  display: block;
}

.product-card__image {

}

.product-card__info {

  .cards--stuck-image & {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.product-card__title {
  min-height: (18px * 2);
  max-height: (18px * 2);
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  overflow: hidden;
  transition: $duration;

  a {
    display: block;
    color: currentColor;
    text-decoration: none;
  }
}

.product-card:hover .product-card__title {
  max-height: (18px * 6);
}

.product-card__status {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 16px;
}

.product-card__buying {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-card__price {
  flex-grow: 1;

  &--old {
    position: absolute;
    left: 10px;
    bottom: 10px;
  }

  .cards--layout-2 & {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;

  &--old {
    font-weight: normal;
  }
  }
}

.product-card__price-value {
  font-size: 21px;
  color: $primary-color;

  &::after {
    content: "₽";
    font-size: 0.85em;
    color: $base-color;

    .cards--layout-2 & {
      font-weight: normal;
    }
  }
}

.product-card__price--old .product-card__price-value {
  font-size: 16px;
  color: $muted-color;
  text-decoration: line-through;

  &::after {
    color: $muted-color;
  }
}

.product-card__price-currency {
  font-size: 0;
}

.product-card__footer {
  text-align: center;

  .cards--stuck-image & {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.product-card__button {

}

.cards--layout-2 .product-card__button {
  width: 100%;
  max-width: 100%;
  min-width: auto;
  padding-left: 5px;
  padding-right: 5px;
}
