.product {

}

.product__columns-grid {

}

.product__column {
  // @include createFlexColumn(6);
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  @media #{$mobile-up} {
    margin-bottom: 0;
  }
}

.product__image-holder {
  @include fitObject(400, 260);
}

.product__info {

}

.product__info-item {
  display: flex;
  margin-bottom: 15px;
}

.product__counter {
  margin-right: 10px;
}

.product__price {

  &--old {

  }
}

.product__price-value {
  font-size: 21px;
  color: $primary-color;

  &::after {
    content: "\E007";
    font-size: 0.66em;
    font-weight: normal;
    font-family: "rouble";
    // color: $base-color;
    color: $color-grey-172;
  }
}

.product__price-currency {
  font-size: 0;
}

.product__button {
  min-width: auto;
}

.product__text {
  margin-top: 50px;

  td:first-child {
    // width: 25%;
  }
}
