.searchbar {
  display: flex;
}

.searchbar__input-holder {

}

.searchbar__select-holder {

}

.searchbar__submit-holder {

}

.searchbar__input {
  border-radius: 3px 0 0 3px;

  @media #{$tablet-up} {
    min-width: 300px;
  }
}

.searchbar__select {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.searchbar__submit {
  padding: 9px;
  min-width: auto;
  font-size: 0;
  border-radius: 0 3px 3px 0;
  box-shadow: none;
}

.seacrhbar__submit-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  fill: currentColor;
}
