.searchbar {
  display: flex;
}

.searchbar__input-holder {

}

.searchbar__select-holder {
  display: none;

  @media #{$mobile-up} {
    display: flex;
  }
}

.searchbar__submit-holder {

}

.searchbar__input {
  width: auto;
  flex-grow: 1;
  min-width: 100px;
  font-size: $font-size--small;
  border-radius: 3px 0 0 3px;

  @media #{$tablet-up} {
    min-width: 200px;
  }

  @media #{$laptop-up} {
    min-width: 300px;
    font-size: $font-size;
  }
}

.searchbar__select-holder {
  display: none !important;
}

.searchbar__select {
  width: auto;
  font-size: $font-size--small;
  border-radius: 0;
  border-left: none;
  border-right: none;

  @media #{$laptop-up} {
    font-size: $font-size;
  }
}

.searchbar__submit {
  padding: 9px;
  min-width: auto;
  font-size: 0;
  border-radius: 0 3px 3px 0;
  box-shadow: none;
}

.seacrhbar__submit-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  fill: currentColor;
}
