.site-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: $secondary-color;
}

.site-footer__inner {
  @include container();

  display: flex;
  flex-direction: column;
  align-items: center;

  @media #{$tablet-up} {
    flex-direction: row;
    justify-content: space-between;
  }
}

.site-footer__column:not(:last-child) {
  margin-bottom: ($grid-gutter * 2px);

  @media #{$tablet-up} {
    margin-bottom: 0;
    margin-right: ($grid-gutter * 2px);
  }
}

.site-footer__logo {
  display: none;

  @media #{$tablet-up} {
    display: block;
  }
}

.site-footer__top-nav {

}

.site-footer__copy {
  font-size: $font-size--small;
  text-align: center;

  @media #{$tablet-up} {
    text-align: left;
    flex-basis: 300px;
  }
}
