.site-header {
  position: relative;
  z-index: 2;
  padding-top: ($grid-gutter * 2px);
  padding-bottom: ($grid-gutter * 2px);
  background-color: $primary-color;

  @media #{$tablet-up} {
    padding-top: ($grid-gutter * 1px);
    padding-bottom: ($grid-gutter * 1px);
  }
}

.site-header__inner {
  @include container();

  display: flex;
  flex-direction: column;
  align-items: center;

  @media #{$tablet-up} {
    flex-direction: row;
    justify-content: space-between;
  }
}

.site-header__logo {
  margin-bottom: ($grid-gutter * 2px);

  @media #{$tablet-up} {
    margin-bottom: 0;
  }
}

.site-header__searchbar {
  margin-bottom: ($grid-gutter * 2px);

  @media #{$tablet-up} {
    margin-bottom: 0;
  }
}
