$list-discount: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50);

.sticker {
  position: absolute;
  top: ($grid-gutter * -1px);
  right: ($grid-gutter * -1px);
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #34d;
  border-radius: 50%;
  pointer-events: none;

  &--promo {
    background-color: #8d7;
    background-image: url("../img/product-stickers/product-stickers_promo.svg");
  }

  &--discount {
    background-color: #78d;
  }

  @each $item in $list-discount {
    &--discount-#{$item} {
      background-image: url("../img/product-stickers/product-stickers_discount-#{$item}.svg");
    }
  }
}
