table {
  max-width: 100%;
  width: 100%;
  margin-bottom: 1em;
  border-collapse: collapse;
  cursor: default;
  // font-size: 0.9rem;
}

caption {

}

th,
td {
  border-bottom: 1px solid $light-color;
  padding: 5px;
}

thead {
  th,
  td {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
    border-bottom-width: 2px;
  }
}

tbody {
  tr {
    &:hover {
      th,
      td {
        background-color: #fbfbfb;
      }
    }
  }
}

@media (max-width: 568px) {
  .response-table {
    thead {
      display: none;
    }

    tbody {
      tr {

        border-top: 4px solid $color-grey-224;
        border-bottom: 4px solid $color-grey-224;
      }

      td {
        max-width: none;
        display: flex;
        align-items: center;

        &::before {
          content: attr(data-th)': ';
          display: block;
          width: 82px;
          flex-shrink: 0;
          font-weight: 600;
          font-size: $font-size--small;
          font-family: 'Open Sans Condensed', sans-serif;
          text-align: left;
        }
      }
    }

    tfoot {
      td:empty {
        display: none;
      }
    }
  }
}
