table {
  max-width: 100%;
  width: 100%;
  margin-bottom: 1em;
  border-collapse: collapse;
  cursor: default;
  // font-size: 0.9rem;
}

caption {

}

th,
td {
  border-bottom: 1px solid $light-color;
  padding: 5px;
}

thead {
  th,
  td {
    border-bottom-width: 2px;
  }
}

tbody {
  tr {
    &:hover {
      th,
      td {
        background-color: #fbfbfb;
      }
    }
  }
}
