.topbar {
  position: relative;
  z-index: 2;
  background-color: #fff;
}

.topbar__inner {
  @include container();

  @media #{$mobile-up} {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.topbar__phone {
  display: none;

  @media (min-width: 568px) {
    display: inline-flex;
    font-size: 0;
    align-items: center;
    color: $base-color;
    transition: $duration;
  }

  @media #{$laptop-up} {
    font-size: $font-size--small;
  }
}

.topbar__phone-icon {
  width: 24px;
  height: 24px;
  margin-right: 0.5em;
  fill: currentColor;
}
