.top-nav {
  display: flex;
}

.top-nav__list {
  @include clear-list();

  display: flex;
}

.top-nav__item {
  display: flex;
  flex-direction: column;
}

.top-nav__link {
  display: inline-flex;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  font-size: 13px;
  text-decoration: none;
  color: #fff;
  transition: $duration;

  &:hover,
  &:focus {
    color: #fff;
    background-color: rgba(#000, 0.5);
  }
}

.top-nav__cart {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  font-size: $font-size--small;
  color: #fff;
  transition: $duration;

  &:hover,
  &:focus {
    color: #fff;
    background-color: rgba(#000, 0.5);
  }
}

.top-nav__cart-icon {
  width: 24px;
  height: 24px;
  margin-right: 0.5em;
  fill: currentColor;
}

.top-nav__cart-counter {

}
