.topbar {
  position: relative;
  z-index: 2;
  background-color: $secondary-color;
  color: #fff;
}

.topbar__inner {
  @include container();

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar__phone {
  display: inline-flex;
  align-items: center;
  font-size: $fonr-size--small;
  color: #fff;
  transition: $transition-duration;

  &:hover,
  &:focus {
    color: #efefef;
  }
}

.topbar__phone-icon {
  width: 24px;
  height: 24px;
  margin-right: 0.5em;
  fill: currentColor;
}
