.top-nav {
  @media #{$mobile-up} {
    display: flex;
  }
}

.top-nav__list {
  @include clear-list();

  display: flex;

  @media #{$mobile-up} {
    display: flex;
  }
}

.top-nav__item {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.top-nav__link {
  padding: 10px;
  font-size: 13px;
  text-decoration: none;
  color: $base-color;
  transition: $duration;

  &:hover,
  &:focus {
    color: #fff;
    background-color: $accent-color;
  }

  @media #{$mobile-up} {
    display: inline-flex;
    align-items: center;
    flex-grow: 1;
  }
}

.top-nav__cart {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  font-size: $font-size--small;
  color: $base-color;
  transition: $duration;

  &:hover,
  &:focus {
    color: #fff;
    background-color: $accent-color;
  }

  @media #{$mobile-up} {
    font-size: 0;
  }

  @media (min-width: 568px) {
    font-size: $font-size--small;
  }
}

.top-nav__cart-icon {
  width: 24px;
  height: 24px;
  margin-right: 0.5em;
  fill: currentColor;
}

.top-nav__cart-counter {

}
