.user-nav {

}

.user-nav__list {
  @include clear-list();

  display: flex;
}

.user-nav__item {

}

.user-nav__link {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  font-size: $fonr-size--small;
  color: #fff;
  text-decoration: none;
  transition: $transition-duration;

  &:hover,
  &:focus {
    color: #fff;
    background-color: rgba(#000, 0.5);
  }
}

.user-nav__icon {
  width: 24px;
  height: 24px;
  margin-right: 0.5em;
  fill: currentColor;
}
