.user-nav {

}

.user-nav__list {
  @include clear-list();

  display: flex;
}

.user-nav__item {
  flex-grow: 1;
  text-align: center;
}

.user-nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: ($grid-gutter * 1px);
  font-size: $font-size--small;
  color: #fff;
  text-decoration: none;
  transition: $duration;

  &:hover,
  &:focus {
    color: #fff;
    background-color: rgba(#000, 0.5);
  }

  @media #{$mobile-up} {
    font-size: 0;
  }

  @media #{$tablet-up} {
    font-size: $font-size--small;
  }
}

.user-nav__icon {
  width: 24px;
  height: 24px;
  margin-right: 0.5em;
  fill: currentColor;
}
